// variables
$lobby_theme_color = #078;

// my definition

#wrap
  height: 100%
  min-height: 100%
  overflow-y: scroll
  width: auto
  max-width: 100%

#left-column
  width: 660px
  float: left
  border: solid 2px $lobby_theme_color
  border-radius: 4px

#right-column
  width: 280px
  float: right
  border: solid 2px $lobby_theme_color
  border-radius: 4px

#thread-list
  height: 540px

#thread-list .post-thread
  float: right
  padding: 0 20px

#online-user-list
  border: solid 2px $lobby_theme_color
  height: 120px
  border-radius: 4px

#online-user-list a
  color: #06e

#online-user-list img
  width: 32px
  height: 32px
  margin: 4px

#online-user-list .online
  clear: both
  padding: 15px

#online-user-list .available img
  border: solid 1px green

#online-user-list .away img
  border: solid 1px red

#online-user-list .busy img
  border: solid 1px yellow

#user-box
  font-size: 1.1em
  width: 280px
  height: 80px
  border: solid 2px $lobby_theme_color
  border-radius: 4px
  float: right
  background-color: $lobby_theme_color

#user-box .nickname
  color: white

#user-box .user-img
  margin: 10px

#user-box .user-logout
  text-align: right
  margin: 5px

#user-box .user-logout a
  color: yellow

.caption
  height: 20px
  padding: 10px
  background-color: $lobby_theme_color
  color: #FFF

.caption a
  color: #FF0

.caption .caption-title
  float: left
  font-weight: bolder
  font-color: #FFF
  font-size: 1.2em

.user-img img
  float: left
  width: 48px
  height: 48px
  margin: 4px

.nickname
  font-size: 1.1em

.logout
  padding: 10px

.spacing
  clear: both
  height: 10px

.post-room
  float: right
  padding: 0 20px

.rectangle
  position: absolute
  left: 5.6em
  top: 3.6em
  border-left: 0
  border-right: solid 20px white
  border-top: solid 10px transparent
  border-bottom: solid 5px transparent
  width: 0
  height: 0

.content
  width: 960px
  margin: 0 auto

.content .chat-status
  height: 30px

.content .chat
  float: right
  width: 274px
  height: 460px
  z-index: 100
  overflow-y: scroll
  margin: 1px
  padding: 1px
  border-radius: 4px
  border: solid 1px $lobby_theme_color

.content .chat .notice
  background: #fcfde6
  font-size: 11px
  font-style: italic
  color: #595d07
  padding: 4px
  text-align: center

.content .chat .notice span.date
  float: right

.content .chat .chat-box
  position: relative
  padding: 8px 16px
  display: block
  border-bottom: solid 1px #DDD
  padding-left: 4.6em
  clear: both

.content .chat .chat-box:nth-child(2n)
  background-color: #f1f1f1

.content .chat .chat-box h5
  margin-top: 0
  font-size: 1em
  margin-bottom: 1em

.content .chat .avatar
  position: absolute
  left: 0.6em
  top: 0.6em
  border-radius: 4px

.content .chat .avatar img
  width: 36px
  height: 36px

.content .chat .chat-box .date-box
  float: right
  font-size: 0.8em
  text-shadow: 0 1px 0 white
  color: rgba(0,0,0,.6)
  font-weight: normal

.content .chat .chat-box .text-box
  word-break: break-all

.content .chat .chat-box p
  clear: both
  width: 150px
  margin: 3px 0

.content .chat .chat-box p:first-of-type .date
  display: block

.content .chat .chat-box p:hover .date
  display: block

.content .chat .chat-box p:last-child
  margin-bottom: 0

.content .chat .chat-box p a
  border-bottom: 1px solid #ccc
  padding-bottom: 1px

.content .chat .chat-box .posted-by
  text-shadow: 0 1px 0 white
  font-size: 1.0em
  font-weight: bold

.content .chat .chat-box p span.emoticon
  display: inline-block
  width: 18px
  height: 18px
  margin-bottom: -4px

.content .chat-tools
  clear: both

.content .chat-input
  overflow: hidden
  width: 100%
  height: 55px
  z-index: 500
  border-top: 1px solid #ccc
  text-align: center
  background-image: -o-linear-gradient(#fdfdfd 4.4%, #dfe2e9)

.content .chat-input textarea
  height: 40px
  border-radius: 4px
  border-color: $lobby_theme_color
  width: 93%
  padding: 1% 1% 1% 3%
  display: block
  margin: 1% 1.5%

.content .room
  float: left
  width: 100%
  height: 540px
  z-index: 100
  overflow-y: scroll

.content .room .room-box
  float: left
  padding: 10px
  width: 620px
  display: block
  border-bottom: 1px solid #eee
  background-color: #BEDBEB
  min-height: 80px
  margin: 1px

.content .room .room-box p
  width: 490px
  border-radius: 4px
  background-color: #fff
  padding: 10px
  margin: 4px 0

.content .room .room-box:nth-child(2n)
  background-color: #f1f1f1

.content .room .room-box h5
  margin-top: 0
  font-size: 1em
  margin-bottom: 1em

.content .room .room-box .avatar
  position: absolute
  left: 1.4em
  top: 1.4em
  border-radius: 4px

.content .room .room-box .avatar img
  height: 64px
  width: 64px

.content .room .room-box .posted-by
  float: left
  font-weight: bold

.content .room .room-box .detail
  height: 20px

.content .room .room-box .date-box
  float: right

.content .room .room-box .text-box
  clear: both
  margin-bottom: 2px

.content .room .room-box p:first-of-type .date
  display: block

.content .room .room-box p:hover .date
  display: block

.content .room .room-box p:last-child
  margin-bottom: 0

.content .room .room-box p a
  color: #333
  border-bottom: 1px solid #ccc
  padding-bottom: 1px

.content .room .room-box p span.emoticon
  display: inline-block
  width: 18px
  height: 18px
  margin-bottom: -4px

.content .room-input
  overflow: hidden
  z-index: 500
  bottom: 0
  position: absolute
  right: 0
  left: 0
  border-top: 1px solid #ccc
  background-image: -o-linear-gradient(#fdfdfd 4.4%, #dfe2e9)

.content .room-input input.text
  height: auto
  max-height: 1.2em
  background: white url('../img/icon-room.png') 10px center no-repeat
  border-radius: 4px
  width: 93%
  padding: 1% 1% 1% 3%
  display: block
  margin: 1% 1.5%

.content .room .room-box .room-logo
  float: left
  width: 100px
  height: 75px

.content .room .room-box .room-logo img
  max-height: 75px
  max-width: 100px

.content .room .room-box .room-header
  float: right
  width: 520px

.content .room .room-box .room-header .room-name
  float: left
  margin: 5px
  font-size: 1.5em

.content .room .room-box .room-online
  clear: both
  width: 620px
  height: 20px

.content .room .room-box .room-online .users-online-number
  width: 105px
  font-size: 0.8em
  float: left
  margin: 5px 0 0 0

.content .room .room-box .room-online img
  float: left
  width: 20px
  height: 20px

.content .room .room-box .room-detail
  float: left
  width: 360px
  height: 60px
  margin-left: 5px

.content .room .room-box .room-info
  float: right
  width: 120px
  font-size: 0.8em
  opacity: .6

.content .room .room-box .room-header .room-admin
  float: right
  font-size: 0.9em

.content .room .room-box .room-header .room-admin img
  width: 20px
  height: 20px
  margin: 0 5px

.content .image
  display: none

.content .image .image-box
  height: 390px
  background: no-repeat transparent center center
  background-size: contain;

.content .image .image-info
  height: 145px
  background-color: #EAF9FD

.content .video
  display: none

.content .video .video-box iframe
  height: 390px
  width: 640px

.content .video .video-info
  height: 145px
  background-color: #EAF9FD

.content .thread
  float: left
  width: 100%
  height: 535px
  z-index: 100
  overflow-y: scroll

.content .thread .notice
  background: #5D9CBD
  font-size: 11px
  font-style: italic
  color: #595d07
  padding: 8px 22px 8px 80px

.content .thread .notice span.date
  float: right

.content .thread .thread-box
  position: relative
  padding: 16px 22px
  display: block
  border-bottom: 1px solid #eee
  padding-left: 7.6em
  background-color: #BEDBEB
  min-height: 65px
  margin: 1px

.content .thread .thread-box p
  width: 490px
  border-radius: 4px
  background-color: #fff
  padding: 10px
  margin: 4px 0

.content .thread .thread-box:nth-child(2n)
  background-color: #f1f1f1

.content .thread .thread-box h5
  margin-top: 0
  font-size: 1em
  margin-bottom: 1em

.content .thread .thread-box .avatar
  position: absolute
  left: 1.4em
  top: 1.4em
  border-radius: 4px

.content .thread .thread-box .avatar img
  height: 64px
  width: 64px

.content .thread .thread-box .posted-by
  float: left
  font-weight: bold

.content .thread .thread-box .detail
  height: 20px

.content .thread .thread-box .date-box
  float: right

.content .thread .thread-box .text-box
  clear: both
  margin-bottom: 2px

.content .thread .thread-box p:first-of-type .date
  display: block

.content .thread .thread-box p:hover .date
  display: block

.content .thread .thread-box p:last-child
  margin-bottom: 0

.content .thread .thread-box p a
  color: #333
  border-bottom: 1px solid #ccc
  padding-bottom: 1px

.content .thread .thread-box p span.emoticon
  display: inline-block
  width: 18px
  height: 18px
  margin-bottom: -4px

.content .thread-input
  overflow: hidden
  z-index: 500
  bottom: 0
  position: absolute
  right: 0
  left: 0
  border-top: 1px solid #ccc
  background-image: -o-linear-gradient(#fdfdfd 4.4%, #dfe2e9)

.content .thread-input input.text
  height: auto
  max-height: 1.2em
  background: white url('../img/icon-thread.png') 10px center no-repeat
  border-radius: 4px
  width: 93%
  padding: 1% 1% 1% 3%
  display: block
  margin: 1% 1.5%

.image-picker
  background-color: #FFF;

.posting-thread
  background: url('../img/loading.gif') center left no-repeat
  margin: auto
  width: 200px
  font-style: italic

.button
  border: 1px solid #999
  color: #333
  display: inline-block
  box-shadow: 0 1px 2px rgba(0,0,0,.3)
  background-image: -o-linear-gradient(#f7f7f7 7.6%, #d5d5d5)
  font-weight: bold
  border-radius: 5px
  padding: 10px 20px

.button:hover
  color: #000
  background-image: -o-linear-gradient(#f7f7f7 7.6%, #ccc)

.button:active
  color: #000
  background-image: -o-linear-gradient(#ccc 7.6%, #f7f7f7)

// tag

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
  display: block

audio, canvas, video
  display: inline-block
  *display: inline
  *zoom: 1

audio:not([controls])
  display: none

[hidden]
  display: none

html
  font-size: 100%
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

html, button, input, select, textarea
  font-family: "メイリオ","Meiryo",Sans-Serif
  color: #222

body
  margin: 0
  font-size: 1em
  line-height: 1.4

::selection
  background: #f4e489
  color: #333
  text-shadow: none

a
  color: #00e

a:hover
  color: #06e

a:focus
  outline: thin dotted

a:hover, a:active
  outline: 0

abbr[title]
  border-bottom: 1px dotted

b, strong
  font-weight: bold

blockquote
  margin: 1em 40px

dfn
  font-style: italic

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

ins
  background: #ff9
  color: #000
  text-decoration: none

mark
  background: #ff0
  color: #000
  font-style: italic
  font-weight: bold

pre, code, kbd, samp
  font-family: monospace, serif
  _font-family: 'courier new', monospace
  font-size: 1em

pre
  white-space: pre-wrap
  word-wrap: break-word

q
  quotes: none

q:before, q:after
  content: none

small
  font-size: 85%

sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em

ul, ol
  margin: 1em 0
  padding: 0 0 0 40px

dd
  margin: 0 0 0 40px

nav ul, nav ol
  list-style: none
  list-style-image: none
  margin: 0
  padding: 0

img
  border: 0
  -ms-interpolation-mode: bicubic
  vertical-align: middle

svg:not(:root)
  overflow: hidden

figure
  margin: 0

form
  margin: 0

fieldset
  border: 0
  margin: 0
  padding: 0

label
  cursor: pointer

legend
  border: 0
  *margin-left: -7px
  padding: 0
  white-space: normal

button, input, select, textarea
  font-size: 100%
  margin: 0
  vertical-align: baseline
  *vertical-align: middle

button, input
  line-height: normal

button, input[type="button"], input[type="reset"], input[type="submit"]
  cursor: pointer
  -webkit-appearance: button
  *overflow: visible

button[disabled], input[disabled]
  cursor: default

input[type="checkbox"], input[type="radio"]
  box-sizing: border-box
  padding: 0
  *width: 13px
  *height: 13px

input[type="search"]
  -webkit-appearance: textfield
  -moz-box-sizing: content-box
  -webkit-box-sizing: content-box
  box-sizing: content-box

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button
  -webkit-appearance: none

textarea
  overflow: auto
  vertical-align: top
  resize: vertical

table
  border-collapse: collapse
  border-spacing: 0

td
  vertical-align: top

.chromeframe
  margin: 0.2em 0
  background: #ccc
  color: black
  padding: 0.2em 0

html, body
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased

html, body
  height: 100%

body
  position: relative
  font-size: 78%

a
  text-decoration: none
  font-weight: bold
  color: #00E

input.text
  border: 1px solid #666
  border-radius: 4px
  padding: .6em
  width: 200px

header
  width: 960px
  height: 80px
  margin: 0 auto
  padding: 10px 0
  z-index: 1000
  font-size: .9em

header .room-title
  float: left
  font-size: 2em
  width: 320px

header .room-title img
  width: 100px
  margin-right: 20px

header .room-detail
  float: left
  width: 300px
  height: 70px
  margin-top: 5px

header a:hover
  color: #ccc

img
  height: auto
  width: auto

.rooms-block, .create-room-block
  float: left
  width: 260px

.inactive
  margin-top: 10px

.inactive input
  margin-right: 5px

.inactive label
  font-style: italic
  color: #666

span.dropdown-users-online
  background: rgba(0,0,0,.2)
  margin-top: -2px
  float: right
  border-radius: 100px
  min-width: 10px
  text-align: center
  display: inline-block
  padding: 2px 4px
  margin-left: 10px

.text-grey
  border: 1px solid rgba(0,0,0,.3)
  background: #f9f9f9
  width: 200px
  padding: 1em
  color: #666
  border-radius: 4px
  box-shadow: 0 1px 3px rgba(0,0,0,.4) inset

.ir
  display: block
  border: 0
  text-indent: -999em
  overflow: hidden
  background-color: transparent
  background-repeat: no-repeat
  text-align: left
  direction: ltr
  *line-height: 0

.ir br
  display: none

.hidden
  display: none !important
  visibility: hidden

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static
  width: auto

.invisible
  visibility: hidden

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

.clearfix
  *zoom: 1

// modal

.modal-thread
  width: 500px

.modal-thread textarea
  height: 80px
  width: 470px
  margin: 10px

.modal-content
  padding: .5em 16px
  overflow: hidden

.modal-content p
  line-height: 2em

.modal h2
  border-radius: 0
  -webkit-border-top-left-radius: 3px
  -webkit-border-top-right-radius: 3px
  -moz-border-radius-topleft: 3px
  -moz-border-radius-topright: 3px
  border-top-left-radius: 3px
  border-top-right-radius: 3px
  border-bottom: 1px solid #b4b8c2
  background-image: -o-linear-gradient(#fdfdfd 4.4%, #dfe2e9)
  font-weight: bold
  padding: 16px
  margin: 0
  color: #606878
  text-shadow: 0 1px 0 white
  text-align: center
  position: relative
  font-size: 1.2em

.modal-footer
  padding: 1.4em 2em
  text-align: center
  background: #eee
  border-top: 1px solid #ccc
  display: block
  color: #333
  -webkit-border-bottom-right-radius: 4px
  -webkit-border-bottom-left-radius: 4px
  -moz-border-radius-bottomright: 4px
  -moz-border-radius-bottomleft: 4px
  border-bottom-right-radius: 4px
  border-bottom-left-radius: 4px

// emoticon

.emoticon-angry
  background-image: url('../img/emoticons/angry.png')

.emoticon-naughty
  background-image: url('../img/emoticons/naughty.png')

.emoticon-sick
  background-image: url('../img/emoticons/sick.png')

.emoticon-smile
  background-image: url('../img/emoticons/smile.png')

.emoticon-wink
  background-image: url('../img/emoticons/wink.png')

.emoticon-frown
  background-image: url('../img/emoticons/frown.png')

.emoticon-ambivalent
  background-image: url('../img/emoticons/ambivalent.png')

.emoticon-slant
  background-image: url('../img/emoticons/slant.png')

.emoticon-gasp
  background-image: url('../img/emoticons/gasp.png')

.emoticon-laugh
  background-image: url('../img/emoticons/laugh.png')

.emoticon-kiss
  background-image: url('../img/emoticons/kiss.png')

.emoticon-yuck
  background-image: url('../img/emoticons/yuck.png')

.emoticon-yum
  background-image: url('../img/emoticons/yum.png')

.emoticon-grin
  background-image: url('../img/emoticons/grin.png')

.emoticon-sarcastic
  background-image: url('../img/emoticons/sarcastic.png')

.emoticon-cry
  background-image: url('../img/emoticons/cry.png')

.emoticon-cool
  background-image: url('../img/emoticons/cool.png')

.emoticon-nerd
  background-image: url('../img/emoticons/nerd.png')

.emoticon-innocent
  background-image: url('../img/emoticons/innocent.png')

.emoticon-sealed
  background-image: url('../img/emoticons/sealed.png')

.emoticon-footinmouth
  background-image: url('../img/emoticons/footinmouth.png')

.emoticon-embarrassed
  background-image: url('../img/emoticons/embarrassed.png')

.emoticon-crazy
  background-image: url('../img/emoticons/crazy.png')

.emoticon-confused
  background-image: url('../img/emoticons/confused.png')

.emoticon-moneymouth
  background-image: url('../img/emoticons/moneymouth.png')

.emoticon-heart
  background-image: url('../img/emoticons/heart.png')

.emoticon-thumbsup
  background-image: url('../img/emoticons/thumbsup.png')

.emoticon-thumbsdown
  background-image: url('../img/emoticons/thumbsdown.png')

.emoticon-not-amused
  background-image: url('../img/emoticons/not-amused.png')

.emoticon-mini-smile
  background-image: url('../img/emoticons/mini-smile.png')

.emoticon-mini-frown
  background-image: url('../img/emoticons/mini-frown.png')

.emoticon-content
  background-image: url('../img/emoticons/content.png')

.emoticon-hearteyes
  background-image: url('../img/emoticons/hearteyes.png')

// fancy

.fancy-theme .wrap
  background: url('../img/wood.jpg')

.fancy-theme .chat-box
  background-color: #e4eaec
  text-shadow: 0 1px 0 white
  position: relative
  margin: 1.4em
  border-radius: 4px
  padding: 1em
  padding-left: 6em

.fancy-theme .chat
  background: url('../img/bg-double-line.png') center
  left: 1em
  bottom: 5em
  right: 1em

.fancy-theme .chat, .fancy-theme .line-chat
  box-shadow: 0 1px 1px rgba(0,0,0,.5)

.fancy-theme .line-chat
  bottom: 4.8em
  left: 1.2em
  z-index: 50
  right: 1.2em
  background: white
  position: absolute
  height: 40px

.fancy-theme .line-chat.second
  bottom: 4.5em
  z-index: 40
  left: 1.4em
  right: 1.4em

.fancy-theme .chat-input
  background: url('../img/bg-purple.png')
  border: 1px solid #000
  box-shadow: 0 0 0 1px rgba(255,255,255,.1) inset,  0 0 10px 2px rgba(0,0,0,.65) inset

.fancybox-close
  top: 16px
  right: 16px
  border: 1px solid #333
  opacity: .3
  background: url('../img/icon-close.png') center no-repeat
  width: 20px
  height: 20px
  border-radius: 4px

.fancybox-close:hover
  opacity: .5

// dropdown

.dropdown
  position: relative

.dropdown .selected
  text-transform: uppercase
  border-radius: 4px

.dropdown .dropdown-options
  border-radius: 4px
  position: absolute
  display: none
  left: 70px
  top: 25px
  box-shadow: 0 0px 2px black
  overflow: hidden

.dropdown .dropdown-options .list
  overflow-y: scroll
  max-height: 300px
  font-size: 1em
  width: 160px

.dropdown .dropdown-options .list a
  color: #000

.dropdown .dropdown-options input
  border-radius: 4px
  border: 1px solid #ccc
  margin: 4px
  padding: 8px 8px
  width: 154px

.dropdown .dropdown-options a.current
  background: url('../img/icon-selected.png') right center no-repeat

.dropdown .dropdown-options a:hover
  background-color: white

.dropdown .dropdown-options .list a.option:first-child, .dropdown .dropdown-options a.option.create-room
  -webkit-border-top-left-radius: 4px
  -webkit-border-top-right-radius: 4px
  -moz-border-radius-topleft: 4px
  -moz-border-radius-topright: 4px
  border-top-left-radius: 4px
  border-top-right-radius: 4px

.dropdown .dropdown-options a.option.logout
  background-color: #eee

.dropdown .dropdown-options a.option:last-child
  -webkit-border-bottom-right-radius: 4px
  -webkit-border-bottom-left-radius: 4px
  -moz-border-radius-bottomright: 4px
  -moz-border-radius-bottomleft: 4px
  border-bottom-right-radius: 4px
  border-bottom-left-radius: 4px

.dropdown .dropdown-options a.option.create-room
  background-image: -o-linear-gradient(#f1f1f1,  #ccc)

.dropdown.dropdown-room
  margin-left: 2.4em

.dropdown.dropdown-room .dropdown-options
  width: 180px

.dropdown.dropdown-room .dropdown-options .list
  width: 180px

.dropdown.dropdown-room .dropdown-options a.current
  background-position: 150px center

.dropdown.dropdown-status .dropdown-options a.current
  background-position: 96px center

.dropdown.dropdown-status .dropdown-options
  width: 130px
  text-transform: capitalize
  z-index: 1000
  background-color: white

.dropdown.dropdown-status .selected
  width: 84px
  margin: 0 8px

.dropdown.dropdown-status .selected b
  height: 12px
  width: 12px
  border-radius: 100px
  display: inline-block

.dropdown.dropdown-status .selected.available b
  background: #5AFF7B

.dropdown.dropdown-status .selected.away b
  background: red

.dropdown.dropdown-status .selected.busy b
  background: yellow

.dropdown .dropdown-options .triangle
  position: absolute
  top: -5px
  left: 48%
  display: block
  width: 0
  height: 0
  border-left: 5px solid transparent
  border-right: 5px solid transparent
  border-bottom: 5px solid #f1f1f1

.dropdown .dropdown-options a
  display: block
  color: #333
  padding: 1em 1em
  border-bottom: 1px solid #ccc
  box-shadow: 0 1px 0 rgba(255,255,255,.4)

.dropdown .dropdown-options a:last-child
  border-bottom: 0
  box-shadow: none

.dropdown.dropdown-room
  background-image: -o-linear-gradient(#555 5.8%, #242424)
  float: left
  width: 180px

// @media

$viewports=s("only screen and (min-width: 35em)");
@media $viewports {
}

@media print
  *
    background: transparent !important
    color: black !important
    box-shadow: none !important
    text-shadow: none !important
    filter: none !important
    -ms-filter: none !important

  a, a:visited
    text-decoration: underline

  a[href]:after
    content: " (" attr(href) ")"

  abbr[title]:after
    content: " (" attr(title) ")"

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after
    content: ""

  pre, blockquote
    border: 1px solid #999
    page-break-inside: avoid

  thead
    display: table-header-group

  tr, img
    page-break-inside: avoid

  img
    max-width: 100% !important

  @page
    margin: 0.5cm

  p, h2, h3
    orphans: 3
    widows: 3

  h2, h3
    page-break-after: avoid


