.online
	.online-header
		b オンライン
	.people
		-users_list.forEach(function(user) {
			.user-img
				a(class='#{ user.status }', href='#', data-nickname='#{ user.nickname }')
					img(src='#{user.image_url}')
		-});
	// .people 
// .online 
