.online
	.online-header
		b オンライン
	.people
		-users.forEach(function(user) {
			.user-img
				a(class='#{ user.status }', href='#{ user.user_id }', data-nickname='#{ user.nickname }')
					img(src='#{ user.image_url }')
		-});
	// .people 
// .online 
