extends layout

block content
	.color-line
	.wrap
		header
			.room-title #{room.name} の集会所
			include rooms_dropdown
			include user_box

			// post thread form
			#thread.modal.modal-thread(style='display: none')
				h2 スレッド新規作成
					.modal-content
						ほげほげ
					.thread-detail
						input(type='text', name='', value='')
					.modal-footer
						a.button.post-thread(href='#') スレッドを立てる

			a.button-circle.lock(href='#', style="display:none;")

		.content(role='main')
			#left-column
				#thread-list
					h2 募集スレッド
					.post-thread
						a.button-circle.thread.fancybox(href='#thread')
						スレッド新規作成
					// .post-thread
					.thread
						// thread-content
						.history
							//historical submits
						.current
							//current submits
					// .thread 

					.line-thread
					.line-thread.second

				// #thread-list

				#online-user-list
					h2 閲覧中のみんな

					include online_user_list
				// #online-user-list
			// #left-column


			#right-column
				h2 みんなとチャット
				.chat-status
				.chat
					.history
						//historical submits
					.current
						//current submits
				// .chat
				.chat-input
					input.text(type='text', name='', value='')
				// .chat-input
			// #right-column

	// .wrap

	span#room_name(style="display:none")= room.name
	span#nickname(style="display:none")= user.nickname
	span#image_url(style="display:none")= user.image_url

	include templates/chat_tmpl
	include templates/thread_tmpl

	script(defer, src="/js/libs/fancy-box/jquery.fancybox.pack.js")
	script(defer, src="/js/plugins.js")
	script(defer, src="/js/libs/ICanHaz.min.js")
	script(src="/socket.io/socket.io.js")

	script(defer, src="/js/script.js")              
