- var fullStatus = ['available', 'away', 'busy']
- var current;
#user-box
	.user-img
		img(src='#{user.image_url}')
	.user-nickname
		a(class='nickname', href='#') #{user.nickname} さん
	br
	.user-logout
		a(class='option logout', href='/rooms/list') ログアウト
// #user-box		
