script#thread_box(type='text/html')
  .thread-box(data-user='{{ nickname }}', data-type='{{ type }}')
    .avatar
      img(src='{{ image_url }}')
    .detail
      .posted-by
        | {{ nickname }}
      .text-box
        {{> thread_box_text }}

script#thread_box_text(type='text/html')
  span.date {{ time.hours }}:{{ time.minutes }}
  p
    | {{ detail }}

script#thread_notice(type='text/html')
  .notice(data-user="{{ user }}")
    span.date {{ time.hours }}:{{ time.minutes }}
      |  {{ noticeMsg }}

